<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" content="子良 张子良 280229278" />
        <meta name="description" content="子良个人网站 张子良个人网站 280229278 子良 张子良 zzlphp php zzl">
	    <meta name="author" content="子良个人网站">
	    <title>子良个人网站</title>
	    <!-- CSS -->
	    <script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    </head>
    <body>
    	<div style="width:560px;margin:0 auto">
	    	
	    	<h1>{$id?'非Mac用户，禁(zhi)访问':'浏览器版本不支持'}...</h1>
	    	<img src="__PUBLIC__/image/qd.jpg" alt="">
	    	
    	</div>
    </body>
</html>



